:root {
  --primary: #fcfcfc;
  --secondary: #fafafa;
  --highlight: #3b82f6;

  --text-header: var(--primary);
  --text-main-headers: var(--highlight);
  --text-links: #000000;
  --text-footer: var(--highlight);

  --bg-main: #ffffff;
  --bg-dots: var(--highlight);
  --bg-lesson: #fff;

  --nav-buttons: var(--highlight);
  --nav-buttons-text: #fff;

  --corner-active: var(--highlight);
  --corner-inactive: #f4f4f4;
  --icons: var(--highlight);
  --footer-icons: var(--highlight);

  --emphasized-bg: #dce8ff;
  --emphasized-border: #aab6d2;
}
